# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: EggAI by Ege Yay
email: egeyay@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
  ICoding at 13, working alongside a billionaire at 16, and feeling the thrill of PMF multiple times over. I use that experience to build intelligent systems that create new markets and deliver life-changing results.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://egeyay.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: EggAI_
github_username:  yayegeyay
minimal_mistakes_skin: "contrast"
locale: "en-US"
title_separator: "|"
name: "Ege Yay"
logo: "assets/sitelogo.png"
breadcrumbs: true
show_date: true
read_time: true
words_per_minute: 250
comments: false
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-8PVVY2GYRH"

author:
  name: "Ege Yay"
  avatar: "assets/sitelogo.png"
  bio: "Coding at 13, working alongside a billionaire at 16, and feeling the thrill of PMF multiple times over. I use that experience to build intelligent systems that create new markets and deliver life-changing results."
  location: "Toronto, Canada"
  links:
    - label: "LinkedIn"
      icon: "fas fa-fw fa-link"
      url: "https://www.linkedin.com/in/eggai/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/EggAI_"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/yayegeyay"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:egeyay@outlook.com"

include: ["_pages"]

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
